@import '../../../../assets/styles/variables.scss';

$white-color: #D8D8D8;

.grid {
    display: inline-flex;
}

.flex {
    width: 100%;
    position: relative;
    margin-top: 35px;
}

.information h3 {
    font-size: 1.2rem;
}

.items label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 10px;
}

p-dropdown ::ng-deep {
    label {
        font-size: 1.2rem;
        font-weight: 600;
    }
}

.cards {
    margin-top: 123px;
    position: absolute;

    p-card ::ng-deep {
        display: inline-flex;
        margin-bottom: 15px;

        .ui-card {
            height: 580px;
            width: 360px;
        }

        .ui-card-shadow {
            position: relative;
            margin-right: 30px;
            background-color: currentColor;
        }

        .ui-card-footer {
            margin-top: -19px;
            position: absolute;
            width: 200px;
            right: -32px;
        }
    }
}

p-card ::ng-deep {

    .ui-card-title, .ui-card-subtitle {
        color: $white-color;
    }

    .ui-card-header {
        padding: 5px 17px;
    }

    .ui-card-body {
        display: inline;
        max-width: 8%;
    }

    .ui-card-shadow {
        position: relative;
        background-color: currentColor;
    }

    .ui-card-footer {
        position: absolute;
        right: 9px;
        bottom: 15px;
    }

    label {
        display: grid;
        align-items: center;
        align-content: center;
    }

    label, h4, h3, h2 {
        color: $white-color;
    }
}

p-paginator ::ng-deep {
    .ui-paginator {
        width: 300px;
        position: absolute;
        left: 42%;
        margin-top: 63px;
        z-index: 1000;
        background-color: $background-color;
    }
    .ui-paginator-page {
        color: $secondary-color !important;
    }
}

.create-restaurant {
    margin-top: 63px;
    position: absolute;
}

p-dialog ::ng-deep {

    .ui-dialog-titlebar {
        background-color: $background-color;
        color: $secondary-color;
    }

    p-card {
        width: 98%;
        .ui-card-shadow {
            padding: 5px;
            width: 377px;
            height: 569px;
        }

        .ui-card-content {
            textarea, input {
                padding: 0 !important;
            }
        }
    }

    .ui-dialog-content {
        height: 587px;
        padding: 8px;
        overflow: hidden;
    }

    button.btn-primary {
        position: absolute;
        margin-top: -45px;
        width: 98px;
        margin-left: -108px;
    }
}

.pagination {
    left: 40%;
    position: absolute;
    z-index: 1000;
    margin-left: -50px;
}


p-progressSpinner ::ng-deep {
    position: absolute;
    left: 40%;
    top: 200px;

    .ui-progress-spinner {
        height: 300px !important;
        width: 300px !important;
    }
}

textarea {
    height: 135px;
}
